video {
  object-fit: cover;
  width: 100vw; /* Adjusted to viewport width */
  height: 100vh; /* Adjusted to viewport height */
  position: fixed;
  top: 0; /* Ensuring video always starts from the top-left corner */
  left: 0;
  z-index: -1;
}

.section-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.section-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-bottom: 0px;
}

.section-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.section-btns {
  margin-top: 32px;
}

.section-btns .btn {
  margin: 6px;
}

/* Icon styles simplified */
.fa-brands, .fa-regular {
  margin-left: 4px;
}

.fa-brands.fa-github {
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .section-container > h1 {
      font-size: 70px;
      margin-top: -75px; /* Reduced to make it look less shifted */
  }
}

@media screen and (max-width: 768px) {
  .section-container > h1 {
      font-size: 50px;
      margin-top: -50px; /* Further reduced to make it look less shifted */
  }

  .section-container > p {
      font-size: 24px; /* Reduced for better visibility on smaller screens */
  }

  .btn-mobile {
      display: block;
      text-decoration: none;
  }

  .btn {
      width: 100%;
  }
}
