video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .about-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    object-fit: contain;
  }
  
  .about-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .about-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .section-btns {
    margin-top: 32px;
  }
  
  .section-btns .btn {
    margin: 6px;
  }
  

  .fa-brands fa-linkedin{
    margin-left: 4px;
  }
  .fa-brands fa-github{
    margin-left: 4px;
    color: #fff;
  }
  .fa-regular fa-envelope{
    margin-left: 4px;
  }
  @media screen and (max-width: 960px) {
    .section-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .section-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }